AltysysZohoprojects_20240729051351/Microsoft.Flow/flows/fff2c68d-557b-4d21-a54f-cfb1a01b60c5/definition.json
{"name":"891e178b-c0c7-45c4-bee9-fad57065eac0","id":"/providers/Microsoft.Flow/flows/891e178b-c0c7-45c4-bee9-fad57065eac0","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"zoho project","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"c1d1dc00-3887-4697-a065-ddfecb5ad4b9","type":"User","tenantId":"fb94495f-f32d-4e6b-82ab-de1f973d0403"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-07-15T06:04:40.3282797Z","connectionKeySavedTimeKey":"2024-07-15T06:04:40.3282797Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"undefined","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Hour","interval":1,"timeZone":"India Standard Time","startTime":"2024-06-04T04:30:00.000Z"},"metadata":{"operationMetadataId":"7e659197-5cf4-4d7b-bd99-5b9abff362fb"},"type":"Recurrence"}},"actions":{"HTTP_1-copy":{"runAfter":{},"metadata":{"operationMetadataId":"b84e3a25-1c37-41bb-b4f6-ea16444f48aa"},"type":"Http","inputs":{"uri":"https://accounts.zoho.in/oauth/v2/token?","method":"POST","queries":{"client_id":"1000.8KCYBII7VP2SJ3OETXFOWEH7KOIYOB","grant_type":"refresh_token","client_secret":"fb7c2590ea4a30dd0d8d5307a8607411b4b19830ae","refresh_token":"1000.f92523f3b13152a074d57f95abcd05d3.e5ac8e118f7f4ba49405295c8a2384e7"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Parse_JSON_1-copy":{"runAfter":{"HTTP_1-copy":["Succeeded"]},"metadata":{"operationMetadataId":"ec8776f5-d64f-4bf0-98dd-e35fa8a4d60e"},"type":"ParseJson","inputs":{"content":"@body('HTTP_1-copy')","schema":{"type":"object","properties":{"access_token":{"type":"string"},"scope":{"type":"string"},"api_domain":{"type":"string"},"token_type":{"type":"string"},"expires_in":{"type":"integer"}}}}},"HTTP-copy":{"runAfter":{"Parse_JSON_1-copy":["Succeeded"]},"metadata":{"operationMetadataId":"82d27096-77e3-402f-8e21-535a45e76348"},"type":"Http","inputs":{"uri":"https://people.zoho.in/api/timetracker/getprojects?assignedTo=all","method":"GET","headers":{"Authorization":"Zoho-oauthtoken  @{body('Parse_JSON_1-copy')?['access_token']}","\n":""}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Parse_JSON-copy":{"runAfter":{"HTTP-copy":["Succeeded"]},"metadata":{"operationMetadataId":"c180e4b9-e748-49d9-ba2c-2ad6031f9896"},"type":"ParseJson","inputs":{"content":{"response":{"result":[{"projectStatus":"In-Progress","clientId":"91038000001675054","ownerName":"Nidhi Agrawal","clientName":"Accolite","isDeleteAllowed":true,"projectName":"Accolite / Propeller Health","projectHead":{"empId":"1","erecno":"91038000000228001","rate":0,"name":"Saurabh Jain"},"ownerId":"91038000000261355","projectId":"91038000001675060"},{"projectStatus":"In-Progress","clientId":"91038000001675054","ownerName":"Nidhi Agrawal","clientName":"Accolite","isDeleteAllowed":true,"projectName":"Accolite_ Clinical Occurrence Reporting system","projectHead":{"empId":"106","erecno":"91038000001675015","rate":0,"name":"Sachin Pawar"},"ownerId":"91038000000261355","projectId":"91038000002962001"},{"projectStatus":"In-Progress","clientId":"91038000001675054","ownerName":"Nidhi Agrawal","clientName":"Accolite","isDeleteAllowed":true,"projectName":"Accolite_Dosespot","projectHead":{"empId":"106","erecno":"91038000001675015","rate":0,"name":"Sachin Pawar"},"ownerId":"91038000000261355","projectId":"91038000003333146"},{"projectStatus":"In-Progress","clientId":"91038000001675054","ownerName":"Nidhi Agrawal","clientName":"Accolite","isDeleteAllowed":true,"projectName":"Accolite_Envision Healthcare_Connect","projectHead":{"empId":"106","erecno":"91038000001675015","rate":0,"name":"Sachin Pawar"},"ownerId":"91038000000261355","projectId":"91038000003333401"},{"projectStatus":"In-Progress","clientId":"91038000000261015","ownerName":"Nidhi Agrawal","clientName":"Altos Inc","isDeleteAllowed":true,"projectName":"Altos Gen AI POC","projectHead":{"empId":"116","erecno":"91038000001888133","rate":0,"name":"Sumit Verma"},"ownerId":"91038000000261355","projectId":"91038000003278250"},{"projectStatus":"In-Progress","clientId":"91038000000261015","ownerName":"Nidhi Agrawal","clientName":"Altos Inc","isDeleteAllowed":true,"projectName":"Altos MT Workflow Phase 2","projectHead":{"empId":"3","erecno":"91038000000237358","rate":0,"name":"Madan Meena"},"ownerId":"91038000000261355","projectId":"91038000001033397"},{"projectStatus":"In-Progress","clientId":"91038000000261015","ownerName":"Saurabh Jain","clientName":"Altos Inc","projectManagers":[{"empId":"3","erecno":"91038000000237358","rate":0,"name":"Madan Meena"}],"isDeleteAllowed":true,"projectName":"Altos ROR Application Development","projectHead":{"empId":"1","erecno":"91038000000228001","rate":0,"name":"Saurabh Jain"},"ownerId":"91038000000228001","projectId":"91038000000237556"},{"projectStatus":"In-Progress","clientId":"91038000000722892","ownerName":"Nidhi Agrawal","clientName":"Bench-Altysys","isDeleteAllowed":true,"projectName":"Bench","projectHead":{"empId":"20","erecno":"91038000000261355","rate":0,"name":"Nidhi Agrawal"},"ownerId":"91038000000261355","projectId":"91038000000722898"},{"projectStatus":"In-Progress","clientId":"91038000003242251","ownerName":"Nidhi Agrawal","clientName":"Clear Cost","isDeleteAllowed":true,"projectName":"Clear Cost MVP","projectHead":{"empId":"1","erecno":"91038000000228001","rate":0,"name":"Saurabh Jain"},"ownerId":"91038000000261355","projectId":"91038000003242257"},{"projectStatus":"In-Progress","clientId":"91038000000261009","ownerName":"Nidhi Agrawal","clientName":"First Databank","isDeleteAllowed":true,"projectName":"FDB Apollo Upgrade","projectHead":{"empId":"1","erecno":"91038000000228001","rate":0,"name":"Saurabh Jain"},"ownerId":"91038000000261355","projectId":"91038000000613082"},{"projectStatus":"In-Progress","clientId":"91038000000261009","ownerName":"Nidhi Agrawal","clientName":"First Databank","projectManagers":[{"empId":"94","erecno":"91038000001388092","rate":0,"name":"Bhardwaj Shenoy"}],"isDeleteAllowed":true,"projectName":"FDB CDS Analytics","projectHead":{"empId":"1","erecno":"91038000000228001","rate":0,"name":"Saurabh Jain"},"ownerId":"91038000000261355","projectId":"91038000001086288"},{"projectStatus":"In-Progress","clientId":"91038000000261009","ownerName":"Nidhi Agrawal","clientName":"First Databank","isDeleteAllowed":true,"projectName":"FDB documentation for Command center","projectHead":{"empId":"28","erecno":"91038000000365220","rate":0,"name":"Sunil Singh"},"ownerId":"91038000000261355","projectId":"91038000000867262"},{"projectStatus":"In-Progress","clientId":"91038000000261009","ownerName":"Saurabh Jain","clientName":"First Databank","isDeleteAllowed":true,"projectName":"FDB e-Prescription","projectHead":{"empId":"1","erecno":"91038000000228001","rate":0,"name":"Saurabh Jain"},"ownerId":"91038000000228001","projectId":"91038000000261099"},{"projectStatus":"In-Progress","clientId":"91038000000261009","ownerName":"Nidhi Agrawal","clientName":"First Databank","isDeleteAllowed":true,"projectName":"FDB ETL Upgrade","projectHead":{"empId":"3","erecno":"91038000000237358","rate":0,"name":"Madan Meena"},"ownerId":"91038000000261355","projectId":"91038000000867195"},{"projectStatus":"In-Progress","clientId":"91038000000261009","ownerName":"Nidhi Agrawal","clientName":"First Databank","isDeleteAllowed":true,"projectName":"FDB GenAI POC","projectHead":{"empId":"116","erecno":"91038000001888133","rate":0,"name":"Sumit Verma"},"ownerId":"91038000000261355","projectId":"91038000002776229"},{"projectStatus":"In-Progress","clientId":"91038000000261009","ownerName":"Nidhi Agrawal","clientName":"First Databank","isDeleteAllowed":true,"projectName":"FDB Inactive Ingredients","projectHead":{"empId":"1","erecno":"91038000000228001","rate":0,"name":"Saurabh Jain"},"ownerId":"91038000000261355","projectId":"91038000001624096"},{"projectStatus":"In-Progress","clientId":"91038000000261009","ownerName":"Nidhi Agrawal","clientName":"First Databank","projectManagers":[{"empId":"31","erecno":"91038000000442023","rate":0,"name":"Abhishek Siddhu"}],"isDeleteAllowed":true,"projectName":"FDB MWP Upgrade Project","projectHead":{"empId":"1","erecno":"91038000000228001","rate":0,"name":"Saurabh Jain"},"ownerId":"91038000000261355","projectId":"91038000002146074"},{"projectStatus":"In-Progress","clientId":"91038000000261009","ownerName":"Nidhi Agrawal","clientName":"First Databank","projectManagers":[{"empId":"31","erecno":"91038000000442023","rate":0,"name":"Abhishek Siddhu"}],"isDeleteAllowed":true,"projectName":"FDB Product Warehouse","projectHead":{"empId":"1","erecno":"91038000000228001","rate":0,"name":"Saurabh Jain"},"ownerId":"91038000000261355","projectId":"91038000000594793"},{"projectStatus":"In-Progress","clientId":"91038000000261009","ownerName":"Saurabh Jain","clientName":"First Databank","projectManagers":[{"empId":"3","erecno":"91038000000237358","rate":0,"name":"Madan Meena"}],"isDeleteAllowed":true,"projectName":"FDB Self Service Tool","projectHead":{"empId":"1","erecno":"91038000000228001","rate":0,"name":"Saurabh Jain"},"ownerId":"91038000000228001","projectId":"91038000000261117"},{"projectStatus":"In-Progress","clientId":"91038000000261009","ownerName":"Nidhi Agrawal","clientName":"First Databank","isDeleteAllowed":true,"projectName":"FDB Vela DevOps","projectHead":{"empId":"3","erecno":"91038000000237358","rate":0,"name":"Madan Meena"},"ownerId":"91038000000261355","projectId":"91038000003075566"},{"projectStatus":"In-Progress","clientId":"91038000000261009","ownerName":"Nidhi Agrawal","clientName":"First Databank","isDeleteAllowed":true,"projectName":"FDB Vela L3 Support","projectHead":{"empId":"3","erecno":"91038000000237358","rate":0,"name":"Madan Meena"},"ownerId":"91038000000261355","projectId":"91038000003019058"},{"projectStatus":"In-Progress","clientId":"91038000000261009","ownerName":"Nidhi Agrawal","clientName":"First Databank","isDeleteAllowed":true,"projectName":"FDB Vela Reporting & Features","projectHead":{"empId":"28","erecno":"91038000000365220","rate":0,"name":"Sunil Singh"},"ownerId":"91038000000261355","projectId":"91038000002776239"},{"projectStatus":"In-Progress","ownerName":"Nidhi Agrawal","isDeleteAllowed":true,"projectName":"HR Function","projectHead":{"empId":"32","erecno":"91038000000469161","rate":0,"name":"Pragya Jain"},"ownerId":"91038000000261355","projectId":"91038000000497035"},{"projectStatus":"In-Progress","clientId":"91038000000261021","ownerName":"Saurabh Jain","clientName":"Indegene","projectManagers":[{"empId":"20","erecno":"91038000000261355","rate":0,"name":"Nidhi Agrawal"}],"isDeleteAllowed":true,"projectName":"Indegene CS Details-CS Email Projects","projectHead":{"empId":"1","erecno":"91038000000228001","rate":0,"name":"Saurabh Jain"},"ownerId":"91038000000228001","projectId":"91038000000271053"},{"projectStatus":"In-Progress","clientId":"91038000000261021","ownerName":"Saurabh Jain","clientName":"Indegene","projectManagers":[{"empId":"20","erecno":"91038000000261355","rate":0,"name":"Nidhi Agrawal"}],"isDeleteAllowed":true,"projectName":"Indegene Mysheets Project","projectHead":{"empId":"1","erecno":"91038000000228001","rate":0,"name":"Saurabh Jain"},"ownerId":"91038000000228001","projectId":"91038000000271003"},{"projectStatus":"In-Progress","clientId":"91038000000261021","ownerName":"Nidhi Agrawal","clientName":"Indegene","projectManagers":[{"empId":"20","erecno":"91038000000261355","rate":0,"name":"Nidhi Agrawal"}],"isDeleteAllowed":true,"projectName":"Indegene _Patient  Engagement _Texture","projectHead":{"empId":"1","erecno":"91038000000228001","rate":0,"name":"Saurabh Jain"},"ownerId":"91038000000261355","projectId":"91038000002357784"},{"projectStatus":"In-Progress","clientId":"91038000000261021","ownerName":"Nidhi Agrawal","clientName":"Indegene","isDeleteAllowed":true,"projectName":"Indegene_Medical Writing Platform","projectHead":{"empId":"106","erecno":"91038000001675015","rate":0,"name":"Sachin Pawar"},"ownerId":"91038000000261355","projectId":"91038000003344566"},{"projectStatus":"In-Progress","clientId":"91038000003216225","ownerName":"Nidhi Agrawal","clientName":"NORC","isDeleteAllowed":true,"projectName":"NORC ProMoT Support","projectHead":{"empId":"1","erecno":"91038000000228001","rate":0,"name":"Saurabh Jain"},"ownerId":"91038000000261355","projectId":"91038000003216231"},{"projectStatus":"In-Progress","clientId":"91038000001761156","ownerName":"Nidhi Agrawal","clientName":"Novartis","isDeleteAllowed":true,"projectName":"Novartis GenAI Use Case","projectHead":{"empId":"1","erecno":"91038000000228001","rate":0,"name":"Saurabh Jain"},"ownerId":"91038000000261355","projectId":"91038000001888001"},{"projectStatus":"In-Progress","clientId":"91038000001761156","ownerName":"Nidhi Agrawal","clientName":"Novartis","isDeleteAllowed":true,"projectName":"Novartis ML Workbench","projectHead":{"empId":"1","erecno":"91038000000228001","rate":0,"name":"Saurabh Jain"},"ownerId":"91038000000261355","projectId":"91038000001761162"},{"projectStatus":"In-Progress","ownerName":"Nidhi Agrawal","projectManagers":[{"empId":"20","erecno":"91038000000261355","rate":0,"name":"Nidhi Agrawal"}],"isDeleteAllowed":true,"projectName":"PMO","ownerId":"91038000000261355","projectId":"91038000000273005"},{"projectStatus":"In-Progress","clientId":"91038000003190001","ownerName":"Nidhi Agrawal","clientName":"Unveil Health","isDeleteAllowed":true,"projectName":"Unveil Health Evaluation","projectHead":{"empId":"116","erecno":"91038000001888133","rate":0,"name":"Sumit Verma"},"ownerId":"91038000000261355","projectId":"91038000003190007"}],"message":"Data fetched successfully","uri":"/api/timetracker/getprojects","status":0}},"schema":{"type":"object","properties":{"response":{"type":"object","properties":{"result":{"type":"array","items":{"type":"object","properties":{"projectStatus":{"type":"string"},"clientId":{"type":"string"},"ownerName":{"type":"string"},"clientName":{"type":"string"},"isDeleteAllowed":{"type":"boolean"},"projectName":{"type":"string"},"projectHead":{"type":"object","properties":{"empId":{"type":"string"},"erecno":{"type":"string"},"rate":{"type":"integer"},"name":{"type":"string"}}},"ownerId":{"type":"string"},"projectId":{"type":"string"},"projectManagers":{"type":"array","items":{"type":"object","properties":{"empId":{"type":"string"},"erecno":{"type":"string"},"rate":{"type":"integer"},"name":{"type":"string"}},"required":["empId","erecno","rate","name"]}}},"required":["projectStatus","ownerName","isDeleteAllowed","projectName","ownerId","projectId"]}},"message":{"type":"string"},"uri":{"type":"string"},"status":{"type":"integer"}}}}}}},"For_each-copy_1":{"foreach":"@body('Parse_JSON-copy')?['response']?['result']","actions":{"Get_items":{"metadata":{"operationMetadataId":"274f138c-d72d-4b17-b2ad-e7d64a5f66a6"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://altysys.sharepoint.com/sites/zohoPro","table":"fff2c464-7f7f-4db4-92e8-b1f81d07ed77","$filter":"projectName eq'@{item()?['projectName']}'"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Create_item":{"metadata":{"operationMetadataId":"2cdf1600-123c-4e8a-a73d-5eec20495fe8"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://altysys.sharepoint.com/sites/zohoPro","table":"fff2c464-7f7f-4db4-92e8-b1f81d07ed77","item/Title":"@item()?['projectStatus']","item/projectName":"@item()?['projectName']","item/clientId":"@item()?['clientId']","item/ownerName":"@item()?['ownerName']","item/clientName":"@item()?['clientName']","item/isDeleteAllowed":"@{item()?['isDeleteAllowed']}","item/projectHeadNmae":"@item()?['projectHead']?['name']","item/projectHeadEmpID":"@item()?['projectHead']?['empId']","item/projectHeadRate":"@item()?['projectHead']?['rate']","item/projectHeadErecNo":"@item()?['projectHead']?['erecno']","item/ownerId":"@item()?['ownerId']","item/projectId":"@item()?['projectId']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_items":["Succeeded"]},"else":{"actions":{"For_each":{"foreach":"@outputs('Get_items')?['body/value']","actions":{"Delete_item":{"metadata":{"operationMetadataId":"33cd9db1-dfc5-4046-a060-2249b7c79ef6"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://altysys.sharepoint.com/sites/zohoPro","table":"fff2c464-7f7f-4db4-92e8-b1f81d07ed77","id":"@items('For_each')?['ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"DeleteItem"},"authentication":"@parameters('$authentication')"}}},"metadata":{"operationMetadataId":"abd9203d-3f33-4608-a779-55eb9ead4ec0"},"type":"Foreach"},"Create_item-copy":{"runAfter":{"For_each":["Succeeded"]},"metadata":{"operationMetadataId":"2cdf1600-123c-4e8a-a73d-5eec20495fe8"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://altysys.sharepoint.com/sites/zohoPro","table":"fff2c464-7f7f-4db4-92e8-b1f81d07ed77","item/Title":"@item()?['projectStatus']","item/projectName":"@item()?['projectName']","item/clientId":"@item()?['clientId']","item/ownerName":"@item()?['ownerName']","item/clientName":"@item()?['clientName']","item/isDeleteAllowed":"@{item()?['isDeleteAllowed']}","item/projectHeadNmae":"@item()?['projectHead']?['name']","item/projectHeadEmpID":"@item()?['projectHead']?['empId']","item/projectHeadRate":"@item()?['projectHead']?['rate']","item/projectHeadErecNo":"@item()?['projectHead']?['erecno']","item/ownerId":"@item()?['ownerId']","item/projectId":"@item()?['projectId']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"authentication":"@parameters('$authentication')"}}}},"expression":{"and":[{"equals":["@length(outputs('Get_items')?['body/value'])",0]}]},"metadata":{"operationMetadataId":"6f06f162-7dc9-4f14-90e5-3e4740727097"},"type":"If"}},"runAfter":{"Parse_JSON-copy":["Succeeded"]},"metadata":{"operationMetadataId":"2e202e20-9372-4a2a-98b8-25f2798a0302"},"type":"Foreach"}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-0016205d-2475-4abd-9516-6de5e8c828c4","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}